<div class="text-white">
    <h1>User Id: {{user._id}}</h1>
    <h2>Name: {{user.last_name}}, {{user.first_name}}</h2>
    <h3>Age: {{user.age}}</h3>
    <h3>Role: {{user.role}}</h3>
    <h3>Cart Id: {{user.cartId}}</h3>
    <h3>Email: {{user.email}}</h3>
    {{cart}}
</div>