<div class="bg-success">
    <div class="container d-flex gap-2 justify-content-center">
        <div>
            <h2>Bienvenido {{user}}</h2> 
        </div>  
        <form action="/auth/logout" method="get">
            <input class="btn btn-danger btnCerrarSesion" type="submit" value="Cerrar sesión">
        </form>
    </div>
    <div class="container d-flex flex-wrap gap-3">
        {{#each products}}
            <div class="card" style="width: 18rem;">
                <img src={{this.thumbnail}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">{{this.title}}</h1>
                    <p class="card-text">{{this.description}}</p>
                    <h3 class="card-text">Categoria: {{this.category}}</h3>
                    <h4 class="card-text">${{this.price}}</h4>
                    <h5 class="card-text">Código: {{this.code}}</h5>
                    <p class="card-text">Cant: {{this.stock}}</p>
                    cartID:{{this.cartId}}
                    <p>id:{{this._id}}</p>
                    <div class="d-flex justify-content-center gap-3">
                        <input type="button" value="Add to cart" class="btn btn-primary btnAddToCart" email-id="{{this.email}}" cart-id="{{this.cartId}}" data-id="{{this._id}}" role-id="{{this.role}}">
                        <a class="btn btn-primary" target="_blank" href="http://localhost:8080/views/products/details/{{this._id}}">Detalles</a>
                    </div>
                    {{!-- http://localhost:8080/views/products/details/{{_id}} --}}
                </div>
            </div>
        {{/each}}
    </div>    
</div>