<div class="bg-success">
    <h1 class="text-center">DETALLES DEL PRODUCTO</h1>

    <div class="container d-flex flex-wrap gap-3 justify-content-center text-center align-items-center">
        <div class="card" style="width: 18rem;">
        <img src={{product.thumbnail}} class="card-img-top" alt="...">

        <div class="card-body">
            <h1 class="card-title">{{product.title}}</h1>
            <p class="card-text">{{product.description}}</p>
            <h3 class="card-text">Categoria: {{product.category}}</h3>
            <h4 class="card-text">${{product.price}}</h4>{{!-- 
            <h5 class="card-text">Código: {{product.code}}</h5>
            <p>id:{{product._id}}</p> --}}
            <p class="card-text">Stock: {{product.stock}}</p>
            
            <div class="d-flex justify-content-center gap-3">
                <input type="button" value="Add to cart" class="btn btn-primary btnAddToCart" email-id="{{userEmail}}" cart-id="{{userCartId}}" data-id="{{product._id}}" role-id="{{userRole}}">
            </div>
        </div>
    </div>
</div>
