<div class="container profileDiv">
    <div> 
        <h1>Perfil de usuario</h1>
        <h3>Usuario: {{user.first_name}} {{user.last_name}}</h3>
        <h3>Dirección de correo electrónico: <br> {{user.email}}</h3>
        <h3>Edad: {{user.age}}</h3>
        <h3>Rol: {{user.role}}</h3>
        <h3><a href="http://localhost:8080/views/carts/{{user.cartId}}" class="text-white">Carrito <img src="https://cdn.pixabay.com/photo/2017/03/29/04/09/shopping-icon-2184065_1280.png" class="cartLogo" alt="cartLogo"></a></h3>
        <h3><a href="http://localhost:8080/views/realtimeproducts" class="text-white">Administrador de productos <img src="https://banner2.cleanpng.com/20181123/zhv/kisspng-3d-printers-3d-printing-computer-up-box-wifi-desk-upbox3-jpg-igo3d-5bf7de1d217df9.1259994415429709091372.jpg" class="cartLogo" alt="cartLogo"></a></h3>

    {{!--<h2><a href="https://preentregamendozabackend-production.up.railway.app/views/carts/{{user.cartId}}" class="text-white">Carrito <img src="https://banner2.cleanpng.com/20180406/zaw/kisspng-shopping-cart-abandonment-rate-online-shopping-glory-5ac7838e1c0e78.9131208015230247821149.jpg" class="cartLogo" alt="cartLogo"></a></h2> --}}

        <form action="/auth/logout" method="get">
            <input class="btn btn-danger mb-2" type="submit" value="Cerrar sesión">
        </form>
    </div>
</div> 