<div class="container mt-3 text-white">
    <div class="text-center mb-5">
        <h1>PAGAR</h1> 
    </div>
    <div class="m-2 row d-flex flex-wrap flex-md-row flex-column justify-content-center align-items-center">
        <div class="col-8 gap-2">
            <form>
                <div class="mb-3">
                    <label for="emailPurchaser" class="form-label">Email</label>
                    <input placeholder="Correo electrónico *" type="email" class="form-control w-50" id="emailPurchaser" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 d-flex flex-row row">
                    <div class="col-6">
                        <label for="adressPurchaser" class="form-label">Dirección</label>
                        <input type="text" class="form-control w-75" placeholder="Calle *" id="adressPurchaser">
                    </div>
                    <div class="col-6">
                        <label for="adressNumberPurchaser" class="form-label">Número</label>
                        <input type="number" class="form-control" placeholder="Altura *" id="adressNumberPurchaser">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="credit-card-number" class="form-label">Tarjeta de Crédito / Débito</label>
                        <input type="password" class="form-control" placeholder=" *" id="credit-card-number">
                    </div>

                    <div class="col-6">
                        <label for="credit-card-cvv" class="form-label">Código de seguridad</label>
                        <input type="number" class="form-control" placeholder="CVV *" id="credit-card-cvv">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-4 mt-sm-4 mt-md-0 d-flex flex-column gap-1">
            <div class="row">
                <h3>TU PEDIDO</h3>
                <div class="col-9">
                    <h5>{{prodsQuantity}} productos</h5>
                </div>
                <div class="col-3">
                    <h4>${{totalPrice}}</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-1 m-1">
                <input type="button" value="Generar ticket" class="mt-3 btn btn-success" totalPrice-id="{{totalPrice}}" cartId-id="{{cartId}}" id="btnPurchase">
                <a href="http://localhost:8080/views/carts/{{cartId}}" class="mt-3 btn btn-warning">Ver carrito</a>
            </div>
        </div>
    </div>
</div>  