<h1 class="text-white text-center">Modificar Stock</h1>
<div class="container border border-white" >
    <form id="addProductForm" class="d-flex flex-column justify-content-center gap-2 m-3 ">
        <h2 class="text-white text-center">Agregar un nuevo producto</h2>
        <input type="text" name="title" id="title" placeholder="title">
        <input type="text" name="description" id="description" placeholder="description">
        <input type="text" name="category" id="category" placeholder="category">
        <input type="text" name="price" id="price" placeholder="price">
        <input type="text" name="code" id="code" placeholder="code">
        <input type="text" name="stock" id="stock" placeholder="stock">
        <input type="text" name="thumbnail" id="thumbnail" placeholder="thumbnail">
        <input type="submit" value="Agregar producto" id="btnAddProd" userEmail-id="{{user}}" class="btn btn-success">
    </form> 
</div>
<br>
<h2 class="text-white">Productos</h2>
<div class="Container m-2 d-flex flex-wrap gap-2" id="cajaProds">
            {{#each products}}
            <div class="card" style="width: 18rem;">
                <input type="button" delete-id="{{this._id}}" user-id="{{this.user}}" class="btn btn-danger position-absolute m-1 btn-delete" value="X">                        
                <img src={{this.thumbnail}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">{{this.title}}</h1>
                    <small>id: {{this._id}}</small>
                    <p class="card-text">{{this.description}}</p>
                    <h3 class="card-text">Categoria: {{this.category}}</h3>
                    <h4 class="card-text">${{this.price}}</h4>
                    <h5 class="card-text">Código: {{this.code}}</h5>
                    <p class="card-text">Cant: {{this.stock}}</p>
                </div>
            </div>
        {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>